/* Container General */
.main-orders {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* DIV 1  */
.main-clients {
    grid-area: 1 / 1 / 2 / 6;
    width: 100%;
    border: 1px solid black;
    height: 100px;
    margin: .5rem 0 0 .1rem;
    display: flex;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);

    .text-clients {
        margin: 1rem 0 0 1rem;
        width: 300px;
        height: 30px;
    }

    .client-table {
        margin: .2rem 0 .2rem .5rem;
        width: 300px;
    }

    .customes-data {
        margin: .3rem 0 0 .5rem;
        overflow-y: hidden;
    }
}

/* detalles del pedido  */
.detalle-custommer {
    grid-area: 2 / 1 / 6 / 6;
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 1fr;
    grid-column-gap: .5rem;
    grid-row-gap: 0px;
    height: 69vh;
    cursor: pointer;
}

/* Producto */
.main-product {

    grid-area: 1 / 2 / 2 / 4;
    border: 1px solid black;
    margin: .5rem 0 0 0;
}

.order {
    grid-area: 1 / 1 / 2 / 2;
    margin: .5rem;
    overflow-y: scroll;
}

/* Ordenes anteriores */
.aside-orders {
    grid-area: 1 / 6 / 6 / 7;
    border: 1px solid black;
    margin: .5rem 0 0 0;
    overflow: auto;
    height: 85vh;
}



.table-container {
    max-height: 120px;
    /* O ajusta a la altura deseada */
    overflow-y: auto;
    font-size: xx-small;
    cursor: pointer;

}

.table-container::-webkit-scrollbar {
    width: 12px;
}

.table-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}


.table-products {
    /* max-height: 450px; */
    max-height: 61vh;
    font-size: xx-small;
    overflow-y: auto;
    padding: .2rem;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);

    input {
        font-size: x-small;
    }
}





.pedidos-table {
    max-height: 500px;
    font-size: xx-small;
    overflow-y: auto;

}


button.btn-danger {
    background-color: rgb(255, 71, 71);
    border: none
}

button.btn-edit {
    background-color: rgb(117, 249, 146);
}


.todo-item .todo-actions {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.todo-actions {
    display: flex;
    justify-content: space-between;
}

.Pedidos-history {
    margin: .5rem;
    padding: .5rem;
    border: 1px solid black;
    border-radius: 10px;

}

.order-form1 {
    width: 10%;

    input {
        font-size: smaller;
    }

}

.order-form2 {
    width: 55%;

    input {
        font-size: smaller;
    }

}

.order-form3 {
    width: 35%;

    input {
        font-size: smaller;
    }

}

.input-cantidad {
    width: 5%;
    margin-right: .5rem;
}

.text-clients {
    width: 100%;

}

.client-table {
    width: 85%;
}

.btn-graba-pedido {
    direction: rtl;
}




.OrderOrders-Btn-new {
    margin-inline: .5rem;
}

.OrderOrders-Btn-new:hover {
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75) !important;
}


.OrderOrders-Btn-edit {
    margin-inline: .5rem;
}

.OrderOrders-Btn-edit:hover {
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75) !important;
}


.OrderOrders-Btn-delete {
    margin-inline: .5rem;
}

.OrderOrders-Btn-delete:hover {
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75) !important;
}


/* CARD */
.limit-container {
    display: flex;
    justify-content: flex-end;
    margin-inline: .5rem;
    margin-top: .1rem;

    select {
        box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75) !important;
        border-radius: 5px;
    }
}

.order-card-body {
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
    margin-top: .2rem;
    border-radius: 10px;
}

.order-card-title {
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    padding-inline: .2rem;
}

.order-card-subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    padding-inline: .2rem;
}

.order-card-item {
    font-family: 'Roboto', sans-serif;
    font-size: x-small;
    margin: 0;
    list-style: none;
}

.order-card-product-list {
    font-family: 'Roboto', sans-serif;
    font-size: x-small;

    ul {
        list-style: none;
        padding-left: .5rem !important;
    }


}

.order-card-product {
    font-family: 'Roboto', sans-serif;
    padding-inline: .2rem;

    p {
        font-size: x-small;

    }
}

.order-card-table {
    font-family: 'Roboto', sans-serif;
    font-size: smaller;
    padding-inline: .2rem;
}

.tho1 {
    width: 60%;
}

.tho2 {
    width: 10%;
}

.tho3 {
    width: 20%;
}

.order-btn-main {
    margin: .2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.order-btn {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: smaller;
    border: none;
    border-radius: 5px;
    background: #3866f2;
    height: 25px;
    width: 50px;
}

.order-btn:hover {
    color: black;
    border: 1px solid black;
}